$grey: #292B2C;
$lt-grey: #494C4E;
$orange: #BF3900;
$breakpoint: 540px;

body {
    padding: 0px;
    z-index: 0; 
}

@mixin link() {
    a {
        color: ivory;
    }

    a:hover {
        color: $orange;
    }

    .active {
        background: $lt-grey;
    }
}

/*Sm and xs screens:*/

@media (max-width: $breakpoint){
 
    .smCollapse {
        text-align: center;
        padding-bottom: 20px;
    }

    .ui {
        display: none;
    }

    @include link();

}

/*Lg to xl screens:*/

@media (min-width: $breakpoint) {

    .ui {
        position: absolute;
        background: $grey;
        color: ivory;
        text-align: center;
        width: 200px;
        height: 100%;
        padding-top: 5px;
        border-top: 1px dashed $lt-grey; 

        .ui-item {
            margin: 5px;
        }
    }

    .smCollapse {
        display: none;
    }

    @include link();
    
}



.orange {
    color: $orange;
}

.btn {
    background: $orange;
    color: ivory;
}

