body {
  padding: 0px;
  z-index: 0; }

/*Sm and xs screens:*/
@media (max-width: 540px) {
  .smCollapse {
    text-align: center;
    padding-bottom: 20px; }
  .ui {
    display: none; }
  a {
    color: ivory; }
  a:hover {
    color: #BF3900; }
  .active {
    background: #494C4E; } }

/*Lg to xl screens:*/
@media (min-width: 540px) {
  .ui {
    position: absolute;
    background: #292B2C;
    color: ivory;
    text-align: center;
    width: 200px;
    height: 100%;
    padding-top: 5px;
    border-top: 1px dashed #494C4E; }
    .ui .ui-item {
      margin: 5px; }
  .smCollapse {
    display: none; }
  a {
    color: ivory; }
  a:hover {
    color: #BF3900; }
  .active {
    background: #494C4E; } }

.orange {
  color: #BF3900; }

.btn {
  background: #BF3900;
  color: ivory; }

#cardGroup {
  margin-left: 200px;
  display: inline-flex;
  flex-wrap: wrap; }

.gameCard {
  display: flex;
  width: 267px;
  margin-left: 50px;
  margin-top: 40px; }

#imgPlcHolder {
  display: flex;
  width: 267px;
  height: 150px;
  background: #494C4E;
  color: ivory;
  justify-content: center;
  align-items: center; }
