$grey: #292B2C;
$lt-grey: #494C4E;
$orange: #BF3900;
$breakpoint: 540px;

body {
    padding: 0px;
    z-index: 0; 
}

/*A mixin to style the links*/

@mixin link() {
    a {
        color: ivory;
    }

    a:hover {
        color: $orange;
    }

    .active {
        background: $lt-grey;
    }
}

/* Media query Sm and xs screens:*/

@media (max-width: $breakpoint){
 
    .smCollapse {
        text-align: center;
        padding-bottom: 20px;
    }

    .ui {
        display: none;
    }

    @include link();

    #cardGroup {
        position: absolute;
        margin: auto;
        display: inline-flex;
        height: 100%;
        flex-wrap: wrap;
        overflow: auto;
    }

    .gameCard {
        display: flex;
        width: 250px;
        margin: auto;
        margin-top: 40px;
        border-color: $orange;
    }


}

/*Media query Lg to xl screens:*/

@media (min-width: $breakpoint) {

    .ui {
        position: absolute;
        background: $grey;
        color: ivory;
        text-align: center;
        width: 200px;
        height: 100% ;
        padding-top: 5px;
        border-top: 1px dashed $lt-grey; 

        .ui-item {
            margin: 5px;
        }
    }

    .smCollapse {
        display: none;
    }

    @include link();

    #cardGroup {
        position: absolute;
        margin-left: 200px;
        display: inline-flex;
        height: 100%;
        flex-wrap: wrap;
        overflow: auto;
    }

    .gameCard {
        display: flex;
        width: 250px;
        margin-left: 40px;
        margin-top: 40px;
        border-color: $orange;
    }
    
}



.orange {
    color: $orange;
}

.btn {
    background: $orange;
    color: ivory;
    
}

/*This is a div holding the space for the image, on final version it will be an img*/

#imgPlcHolder {
    display: flex;
    width: 250px;
    height: 140px;
    background: $lt-grey;
    color: ivory;
    justify-content: center;
    align-items: center;
}

/*This is a transparent <span> that took all over the cards, so it makes them a link*/

#gameLnk {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1
}

.modal {
   color: ivory;

   .modal-header {
       background: $grey;
   }

   .modal-footer {
       background: $lt-grey;
   }
}