body {
  padding: 0px;
  z-index: 0; }

/*A mixin to style the links*/
/* Media query Sm and xs screens:*/
@media (max-width: 540px) {
  .smCollapse {
    text-align: center;
    padding-bottom: 20px; }
  .ui {
    display: none; }
  a {
    color: ivory; }
  a:hover {
    color: #BF3900; }
  .active {
    background: #494C4E; }
  .cardgroup-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: 40px auto 40px 0px; }
  .gameCard {
    display: flex;
    width: 250px;
    margin-left: 40px;
    border-color: #BF3900; } }

/*Media query Lg to xl screens:*/
@media (min-width: 540px) {
  .ui {
    position: absolute;
    background: #292B2C;
    color: ivory;
    text-align: center;
    width: 200px;
    height: 100%;
    padding-top: 5px;
    border-top: 1px dashed #494C4E; }
    .ui .ui-item {
      margin: 5px; }
  .smCollapse {
    display: none; }
  a {
    color: ivory; }
  a:hover {
    color: #BF3900; }
  .active {
    background: #494C4E; }
  .cardGroup {
    position: absolute;
    margin-left: 200px;
    display: block;
    height: 100%;
    overflow: auto;
    flex-direction: column; }
  .cardgroup-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px; }
  .gameCard {
    display: flex;
    width: 250px;
    margin-left: 40px;
    margin-top: 40px;
    border-color: #BF3900; } }

.cardgroup-title {
  display: block;
  color: ivory;
  background-color: #BF3900;
  padding: 10px; }

.orange {
  color: #BF3900; }

.btn {
  background: #BF3900;
  color: ivory; }

/*This is a div holding the space for the image, on final version it will be an img*/
#imgPlcHolder {
  display: flex;
  width: 250px;
  height: 140px;
  background: #494C4E;
  color: ivory;
  justify-content: center;
  align-items: center; }

/*This is a transparent <span> that took all over the cards, so it makes them a link*/
#gameLnk {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1; }

/*Modal formating*/
.modal {
  color: #292B2C; }
  .modal .close {
    color: ivory; }
  .modal .modal-header {
    color: ivory;
    background: #292B2C; }
  .modal .modal-footer {
    color: ivory;
    background: #494C4E; }

.face {
  background-color: #3B5998; }

.plus {
  background-color: #dd4b39; }
